<div class="span12">

	<h3>My Order:</h3>

	<table class="table table-bordered">
		<tr>
			<th></th>
			<th>Product Name:</th>
			<th>Price:</th>
			<th>Remove from basket:</th>

		<% basket.each do |item| %>
			<tr>
				<td><%= image_tag Product.find(item).image(:thumb) %></td>

				<td><%= link_to Product.find(item).title, product_path(item)  %></td>

				<td><%= Product.find(item).price_in_pence %>p</td>

				<td><%= link_to product_basket_path(item), method: :delete, class: "btn-small btn-danger" do %>
				<i class="icon icon-remove"></i>

				<% end %> </td>

				</tr>
			<% end %>
	</table>
		
	</ul>

</div>